.list-person-info {
  display: flex;
  flex-direction: column;
  height: 450px;
}

.list-person-info > .ant-table-wrapper {
  margin-bottom: 16px;
}

.list-person-info__header {
  display: flex;
  margin-bottom: 16px;
}

.list-person-info__header-btn {
  width: 60px;
  margin-left: 10px;
}

.list-person-info__pagination {
  display:flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* .to-do-list__box-content-btn {
  width: 100px;
  height: 450px;
  line-height: 450px;
  margin-left: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  color: #9ea1a0;
  cursor: pointer;
} */